

@import url('bootstrap.css');
@import url('fonts.css'); 

body{
    background-image :url(https://images.pexels.com/photos/616650/pexels-photo-616650.png?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1,h2,p{
    text-align: center;
}

button{
    position: absolute;
    top: 80%;
    left: 45%;
}

h1,h2,h3{
    color: black
}