

@import url('bootstrap.css');
@import url('fonts.css'); 

body{
    
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1,h2,p{
    text-align: center;
}
button{
    position: absolute;
    top: 80%;
    left: 45%;
}